* {
    margin: 0%;
}

#header {
    display: flex;
    background-color: rgb(123, 186, 128);
}

img {
    width: 70px;
    height: 70px;
    flex: 0.5;
    border-radius: 50%;
    border-color: transparent;
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
    flex: 10;
}

#search-bar {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 30px;
    background-color: rgb(123, 186, 128);
}

button {
    border: none;
  background-color: transparent;
  cursor: pointer;
}

button img {
    width: 30px;
    height: 25px;
}

input {
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    width: 300px;
}

#categories {
    text-align: center;
}

.pic {
    width: 350px;
    height: 230px;
    padding-right: 20px;
    padding-left: 30px;
}

.cat {
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

#category-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 50px;
}

.meal-img {
    width: 150px;
    height: 100px;
    padding-right: 20px;
    padding-left: 30px;
}

#meal-name {
    text-align: center;
    padding-bottom: 20px;
}