@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Myeongjo&family=Poppins&family=Raleway:wght@500&display=swap');

* {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

#header {
    display: flex;
    background-color: rgb(123, 186, 128);
}

img {
    width: 70px;
    height: 70px;
    flex: 0.5;
    border-radius: 50%;
    border-color: transparent;
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
    flex: 10;
}

#search-bar {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 30px;
    background-color: rgb(123, 186, 128);
}

#search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-button img {
    width: 30px;
    height: 25px;
}

input {
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    width: 300px;
}

#categories {
    text-align: center;
}

.pic {
    width: 350px;
    height: 230px;
    padding-right: 20px;
    padding-left: 30px;
    cursor: pointer;
}

.cat {
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

#category-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 50px;
}

.meal-img {
    width: 150px;
    height: 100px;
    padding-right: 20px;
    padding-left: 30px;
}

#meal-name {
    text-align: center;
    padding-bottom: 20px;
}

#backButton {
    background-color: rgb(123, 186, 128);
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}